{{ define "subject" }} Welcome to Paste! {{ end }}

{{ define "plainBody" }}
Hi, {{.To.Login}}

Thanks for signing up for a Paste account. We're excited to have you on board!

For future reference, your user ID number is {{.To.ID}}.

Please, confirm your email. Your activation code is {{.Message}}.

Thanks,

The Paste Team
{{ end }}

{{ define "htmlBody" }}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi, <b>{{.To.Login}}</b></p>
    <p>Thanks for signing up for a Paste account. We're excited to have you on board!</p>
    <p>For future reference, your user ID number is {{.To.ID}}.</p>
    <p>Please, confirm your email. <b>Your activation code is {{.Message}}</b>.</p>
    <p>Thanks,</p>
    <p>The Paste Team</p>
</body>

</html>
{{ end }}
